body{
    background-image: url('bg.png');
    background-size: cover;
}
h1{
    font-size: 72px;
}
h1,h2,h3, .summary-card .font-bold {
   
    background: -webkit-linear-gradient(#5e514f, #2e292a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button[type=submit]:hover, button:hover{
    background-color: #4F2C2F;

  }


  button[type=submit], button{
    color: black;
    background-color: #4F2C2F!important;

  }
.movie-card, .theatre-card, .restaurant-card{
    background-color: whitesmoke;
}
  #gmap{
    margin: 10px auto;
    width: 500px;
    height: 200px;
  }


  h2{
    text-transform: uppercase;
  }

  #cardsUl{
    border:none;
 }   

 .summary-card{
    background-color: whitesmoke;
 }