* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style: none;
}

body {
  margin: 12px 0;
}

/* common styles */
.btn {
  border-radius: 5px;
  border: none;
  background: linear-gradient(to top, #fc6c84, #e62c53);
  padding: 10px 18px;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-large {
  box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-small {
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  min-height: 90vh;
  padding: 2;
  background: rgb(241, 252, 255);
}

.hero-image {
  margin-left: 12px;
  max-width: 250px;
}


/* Landing section styles */
.landing-section {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.landing-section h1 {
  font-size: 42px;
  font-weight: bold;
}

.landing-section p {
  margin: 12px 0 16px;
  color: gray;
}

.landing-section b {
  color: black;
}

.landing-section button {
  margin-top: 16px;
}

.landing-section img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .landing-section {
    flex-direction: column;
    text-align: center;
  }
}

/* Search Form styles */
.search-form {
  padding: 10px;
  background: white;
  max-width: 500px;
  width: 100%;
  margin: 10px auto 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form h2 {
  text-align: center;
  margin: 10px 0;
}

.search-form input,
.search-form button {
  padding: 12px 18px;
  outline: none;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 5px;
}

/* Cards Styles */
.cards-ul {
  max-width: 800px;
  background: white;
  margin: 12px auto 0;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
}

.card-li {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  flex-basis: 350px;
  flex-grow: 1;
}

.cards-ul .title {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  flex-basis: 100%;
}

.card-li h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-li i {
  font-size: 22px;
  color: #e62c53;
}

.card-li button {
  margin-top: 10px;
}

.summary-card h3 {
  text-align: center;
  margin: 10px 14px;
  font-size: 24px;
}

.summary-card {
  text-align: center;
}

.subtitle {
  font-size: 15px;
  font-weight: bold;
  margin: 12px 0;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.search-again {
  flex-basis: 100%;
  text-align: center;
  margin-top: 30px;
}

.h-rule {
  max-width: 500px;
  margin: 10px auto;
}



